/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background: #d2d6de;
  color: #333;
}

/* Container principal */
.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
}

/* Card de login */
.login-card {
  width: 100%;
  max-width: 400px;
  margin: 50px auto;
  padding: 2rem;
  background: #ffffff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  text-align: center;
}

/* Imagem da logo*/
.login-card img {
  display: block;
  max-width: 90%;
  margin: auto;
}

/* Título */
.login-card h1 {
  font-size: 1.8rem;
  margin-bottom: 24px;
  color: #1f2937;
  text-align: center;
}

/* Labels */
.login-card label {
  display: block;
  margin-bottom: 6px;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 600;
  font-size: 0.95rem;
  color: #374151;
}

/* Inputs */
.login-card input[type="text"],
.login-card input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 20px;
  border: 1px solid #d1d5db;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #f9fafb;
  transition: border 0.3s;
}

.login-card input[type="text"]:focus,
.login-card input[type="password"]:focus {
  outline: none;
  border-color: #3b82f6;
  background-color: #fff;
}

/* Botão */
.login-card input[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.login-card input[type="submit"]:hover {
  background-color: #1e40af;
}

/* Responsivo */
@media (max-width: 500px) {
  .login-card {
    padding: 30px 20px;
  }
}
